// Imports
@import "./../../assets/stylus/settings/variables.styl"
@import "./../../assets/stylus/mixins/mixins.styl"

.Dropdown // Dropdown
  display: inline-block
  position: relative
  +variant('block')
    display: block