// Imports
@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/mixins.styl"

.Breadcrumb
  +has(content)
    display: inline-block
    vertical-align: middle