// Imports
@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/mixins.styl"

.Breadcrumb
  +has(content)
    vertical-align: middle
    display: inline-block
    +variant(primary) // Breadcrumb__content--primary
      color: $primary
    +variant(success) // Breadcrumb__content--success
      color: $success
    +variant(danger) // Breadcrumb__content--danger
      color: $danger
    +variant(warning) // Breadcrumb__content--warning
      color: $warning
    +variant(info) // Breadcrumb__content--info
      color: $info
    +variant(dark) // Breadcrumb__content--dark
      color: $gray
