@import "./../../assets/stylus/mixins/mixins.styl"
@import "./../../assets/stylus/settings/variables.styl"

.Notification // Notification
  position: relative
  background-color: $white
  box-shadow: $box_shadow_normal
  display: block
  font-weight: 300
  margin-top: 1rem
  padding: 1rem
  &:first-child
    margin-top: 0
  +variant(primary) // Notification--primary
    background-color: $primary
    border-color: $primary
  +variant(success) // Notification--success
    background-color: $success
    border-color: $success
  +variant(danger) // Notification--danger
    background-color: $danger
    border-color: $danger
  +variant(warning) // Notification--warning
    background-color: $warning
    border-color: $warning
  +variant(info) // Notification--info
    background-color: $info
    border-color: $info
  +variant(dark) // Notification--dark
    color: $white
    background-color: $gray