@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/mixins.styl"

// Block
.search-select

  // Element
  +has(drop-down)
    display: block
    list-style: none
    margin: 0
    max-height: 200px
    overflow-y: scroll
    padding: 0
