@import "./../../assets/stylus/settings/variables.styl"
@import "./../../assets/stylus/mixins/mixins.styl"

.button
  border-radius-all()
  transition(100ms)
  background-color: #eee
  border: 1px solid transparent
  color: #000
  display: inline-block
  outline: none
  padding: .75rem 1rem
  text-decoration: none;
  &:hover
    transition(100ms)
    outline: none
    text-decoration: none;
  &:active,
  &:focus
    outline: none

  +variant(primary)
    background-color: #007fbf
    border-color: #0af
    color: #fff
    &:hover
      background-color: #0077b3
  +variant(success)
    background-color: #00bf00
    border-color: #5c5
    color: #fff
    &:hover
      background-color: #00b300
  +variant(danger)
    background-color: #bf0000
    border-color: #cc5656
    color: #fff
    &:hover
      background-color: #b30000
  +variant(warning)
    background-color: #bf8300
    border-color: #cca558
    color: #fff
    &:hover
      background-color: #b37a00
  +variant(info)
    background-color: #0069bf
    border-color: #5a93cc
    color: #fff
    &:hover
      background-color: #0062b3

  +variant('block')
    display: block
    width: 100%
