@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/mixins.styl"

// Block
.search-select

  // Element
  +has(item)
    background-color: #fff;
    border-top: 1px solid #e6e6e6
    cursor: pointer
    display: block
    padding: .5rem .5rem
    &:hover
      background-color: #fafafa

    // Modifiers
    +variant(primary)
      color: #0af
    +variant(success)
      color: #080
      &:hover
        background-color: #f7fff7
    +variant(danger)
      color: #870000
      &:hover
        background-color: #fff7f7
    +variant(warning)
      color: #cca558
      &:hover
        background-color: #fffdf7
    +variant(info)
      color: #5a93cc
      &:hover
        background-color: #f7fcff