// Imports
@import "./../../assets/stylus/settings/variables.styl"
@import "./../../assets/stylus/mixins/mixins.styl"

.Breadcrumb
  display: block
  list-style: none
  margin: 0
  margin-bottom: 1rem
  padding: 0