@import "./../../assets/stylus/settings/variables.styl"
@import "./../../assets/stylus/mixins/mixins.styl"

.search-select
  border-radius-all();
  border: 1px solid #aaa
  display: block
  overflow: hidden

  +has(result)
    background-color: #fff;
    border-top: 1px solid #e6e6e6
    cursor: pointer
    display: block
    padding: .5rem .5rem
    &:hover
      background-color: #fafafa
    +variant(success)
      &:hover
        background-color: #f7fff7
    +variant(danger)
      &:hover
        background-color: #fff7f7
    +variant(warning)
      &:hover
        background-color: #fffdf7
    +variant(info)
      &:hover
        background-color: #f7fcff

  +variant(primary)
    border-color: #0af
  +variant(success)
    border-color: #5c5
  +variant(danger)
    border-color: #cc5656
  +variant(warning)
    border-color: #cca558
  +variant(info)
    border-color: #5a93cc