// Imports
@import "./../../../assets/stylus/mixins/mixins.styl"
@import "./../../../assets/stylus/settings/variables.styl"

.Panel
  +has(footer) // Panel__footer
    background-color: #f2f2f2
    border-top: none
    padding: .75rem 1rem