@import "./../../../assets/stylus/mixins/mixins.styl"
@import "./../../../assets/stylus/settings/variables.styl"

.Alert
  +has(message) // Alert__message
    +variant(primary) // Alert__message--primary
      color: $white
    +variant(success) // Alert__message--success
      color: $success_dark
    +variant(danger) // Alert__message--danger
      color: $danger_dark
    +variant(warning) // Alert__message--warning
      color: $warning_dark
    +variant(info) // Alert__message--info
      color: $info_dark