@import "./../../../assets/stylus/mixins/mixins.styl"
@import "./../../../assets/stylus/settings/variables.styl"

.Notification
  +has(close-button) // Notification__close-button
    cursor: pointer
    font-size: 1.5rem
    font-weight: 600
    line-height: 2rem
    position: absolute
    right: 1rem
    top: .75rem
    +variant(primary) // Notification__close-button--primary
      color: $white
    +variant(success) // Notification__close-button--success
      color: $white
    +variant(danger) // Notification__close-button--danger
      color: $white
    +variant(warning) // Notification__close-button--warning
      color: $white
    +variant(info) // Notification__close-button--info
      color: $white
    +variant(dark) // Notification__close-button--dark
      color: $white