@import "./../../assets/stylus/mixins/mixins.styl"
@import "./../../assets/stylus/settings/variables.styl"

.Alert // alert
  border-radius-all()
  border: 1px solid $black
  display: block
  margin-top: 1rem
  overflow: hidden
  padding: 1rem
  position: relative
  &:first-child
    margin-top: 0
  +variant(primary) // alert--primary
    background-color: $primary
    border-color: $primary
  +variant(success) // alert--success
    background-color: $success_light
    border-color: $success
  +variant(danger) // alert--danger
    background-color: $danger_light
    border-color: $danger
  +variant(warning) // alert--warning
    background-color: $warning_light
    border-color: $warning
  +variant(info) // alert--info
    background-color: $info_light
    border-color: $info