<div :class="alertClass">

    <alert-timer
            v-if="hasTimer"
            :variants="timer.variants"
    ></alert-timer>

    <alert-title
            v-if="hasTitle"
            :variants="title.variants"
            :content="title.content"
    ></alert-title>

    <alert-message
            v-if="hasMessage"
            :variants="message.variants"
            :content="message.content"
    ></alert-message>

    <alert-close-button
            v-if="hasCloseButton"
            :variants="closeButton.variants"
            :close-function="dismissAlert"
    ></alert-close-button>

</div>