@import "./../../assets/stylus/mixins/mixins.styl"
@import "./../../assets/stylus/settings/variables.styl"

.Alert // Alert
  position: relative
  background-color: $white
  box-shadow: $box_shadow_normal
  display: block
  font-weight: 300
  margin-top: 1rem
  padding: 1rem
  &:first-child
    margin-top: 0
  +variant(primary) // Alert--primary
    background-color: $primary
    border-color: $primary
  +variant(success) // Alert--success
    background-color: $success
    border-color: $success
  +variant(danger) // Alert--danger
    background-color: $danger
    border-color: $danger
  +variant(warning) // Alert--warning
    background-color: $warning
    border-color: $warning
  +variant(info) // Alert--info
    background-color: $info
    border-color: $info
  +variant(dark) // Alert--dark
    color: $white
    background-color: $gray