@import "./../../../assets/stylus/settings/variables.styl"
@import "./../../../assets/stylus/mixins/mixins.styl"

.panel
  +has(title)
    font-size: 1rem
    font-weight: 400
    margin: 0
    padding: 0
    +variant(primary)
      color: #fff
    +variant(success)
      color: #080
    +variant(danger)
      color: #870000
    +variant(warning)
      color: #cca558
    +variant(info)
      color: #5a93cc