@import "./../../../assets/stylus/mixins/mixins.styl"
@import "./../../../assets/stylus/settings/variables.styl"

@keyframes timer {
  0% {
    width: 100%
  }
  100% {
    width: 0
  }
}

.Alert
  +has(timer) // alert__timer
    height: .25rem
    left: 0
    position: absolute
    top: 0
    width: 100%
    animation: timer 5000ms infinite linear
    +variant(primary) // alert__timer--primary
      background: $primary
    +variant(success) // alert__timer--success
      background: $success
    +variant(danger) // alert__timer--danger
      background: $danger
    +variant(warning) // alert__timer--warning
      background: $warning
    +variant(info) // alert__timer--info
      background: $info