@import "./../../assets/stylus/settings/variables.styl"
@import "./../../assets/stylus/mixins/mixins.styl"

+has(label)
  +variant(primary)
    color: #0af
  +variant(success)
    color: #5c5
  +variant(danger)
    color: #cc5656
  +variant(warning)
    color: #cca558
  +variant(info)
    color: #5a93cc