@import "./../../../assets/stylus/mixins/mixins.styl"
@import "./../../../assets/stylus/settings/variables.styl"

.Alert
  +has(dismiss) // Alert__dismiss
    cursor: pointer
    font-size: 1.5rem
    font-weight: 600
    line-height: 2rem
    position: absolute
    right: 1rem
    top: .75rem
    +variant(primary) // Alert__dismiss--primary
      color: $white
    +variant(success) // Alert__dismiss--success
      color: $success_dark
    +variant(danger) // Alert__dismiss--danger
      color: $danger_dark
    +variant(warning) // Alert__dismiss--warning
      color: $warning_dark
    +variant(info) // Alert__dismiss--info
      color: $info_dark