/**
 * [Master Stylesheet]
 *
 * Project:       Vue Components
 * Version:       1.0.1
 * Author:        Peter van Meijgaard <peter@vivid-websolutions.nl>
 * Description:   A group of simple to use Vue components
 *
 *
 * [Table of Contents]
 *
 *  1. Imports
 *    1.1 Fonts
 *  2. Modules
 *    2.1 Normalize
 *  3. Settings
 *    3.1 Variables
 *    3.2 Box Sizing
 *    3.3 Typography
 *    3.4 REM size
 *  4. Mixins
 *    4.1 Mixins
 *  5. Components
 *    5.1 Form / .form
 */

/**
 *  1. Imports
 *    1.1 Fonts
 */
@import "./imports/font"

/**
 *  2. Modules
 *    2.1 Normalize
 */
@import "./../vendor/normalize.styl/normalize"

/**
 *  3. Settings
 *    3.1 Variables
 *    3.2 Fixes
 *    3.3 Typography
 *    3.4 REM size
 */
@import "./settings/variables"
@import "./settings/box-sizing"
@import "./settings/type"
@import "./settings/size"

/**
 *  4. Mixins
 *    4.1 Mixins
 */
@import "./mixins/mixins"

/**
 *  5. Components
 *    5.1 Form / .form
 */
@import "./components/form"